p {
    font-family: 'Source Sans 3';
    font-size: 18px;
}

body {
    font-family: 'Source Sans 3';
    overflow-x: hidden;
    padding-left: 10%;
    padding-right: 10%;
}

.container {
    max-width: 900px;
    margin: 10% auto;
    margin-top: 60px;
    padding: 0 5%;

}

.container_h1 {
    text-align: center;
}

h2 {
    padding-top: 12px;
}

.tab-button {
    font-family: 'Source Sans 3';
    font-size: 18px;
    color: grey;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 70px;
    border: none;
    cursor: pointer;
    white-space: normal;
}

.tab-button:hover {
    color: goldenrod
}

.button-clicked {
    font-family: 'Source Sans 3';
    font-size: 18px;
    color: goldenrod;
    font-weight: bolder;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 70px;
    border-bottom: 5px solid goldenrod;
    cursor: pointer;
    white-space: normal;
}

.container-tab {
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: clamp(6px, 0.8vw, 12px) clamp(8px, 1.5vw, 20px)
}

.visualization {
    display: none;
}

.visualization-selected {
    display: block
}

#tab-3 {
    background-color: lightpink;
}

#tab-4 {
    background-color: lightyellow;
}

.tooltip {
    background: white;
    opacity: 1;
    color: black;
    font-size: 15px;
    font-family: "Source Sans 3";
    pointer-events: none;
    text-align: center;
}

.cell-label {
    font-family: 'Source Sans 3';
    font-size: 25px;
    color: black
}

.legend-labels {
    font-family: 'Source Sans 3';
}

.description {
    font-family: 'Source Sans 3';
    font-size: 18px; 
    color: gray;
    margin-left: 100px;
    margin-right: 80px;
    text-align: center;
    display: none
}

.description-selected {
    font-family: 'Source Sans 3';
    font-size: 18px; 
    color: gray;
    margin-left: 100px;
    margin-right: 80px;
    text-align: center;
    display: block
}

.same-conf-labels, .axislabel {
    font-family: 'Source Sans 3';
    font-size: 20px;
}

.y-grid{
  stroke: #e5e5e5;
  stroke-opacity: 0.1;
}

.text {
    font-family: "Source Sans 3";
    font-size: 18px
}

.text p strong {
    font-family: "Source Sans 3";
    font-size: 18px
}

h4 {
    padding-top: 10px;
}