p, .text {
    font-family: 'Source Sans 3';
    font-size: 18px;
}

body {
    font-family: 'Source Sans 3';
    overflow-x: hidden;
    padding-left: 10%;
    padding-right: 10%;
}

.container {
    max-width: fit-content;
    margin: 10% auto;
    margin-top: 60px;
    padding: 0 5%;

}

.container_h1 {
    text-align: center;
}

h2 {
    padding-top: 12px;
}

.tab-button {
    font-family: 'Source Sans 3';
    font-size: 18px;
    color: grey;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 70px;
    border: none;
    cursor: pointer;
    white-space: normal;
}

.tab-button:hover {
    color: #104120
}

.button-clicked {
    font-family: 'Source Sans 3';
    font-size: 18px;
    color: #0d371b;
    font-weight: bolder;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 70px;
    border-bottom: 5px solid #0d371b;
    cursor: pointer;
    white-space: normal;
}

.container-tab {
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: clamp(6px, 0.8vw, 12px) clamp(8px, 1.5vw, 20px)
}

.visualization {
    display: none;
}

.visualization-selected {
    display: block
}

.tooltip {
    background: white;
    opacity: 1;
    color: black;
    font-size: 15px;
    font-family: "Source Sans 3";
    pointer-events: none;
    text-align: center;
}

.cell-label {
    font-family: 'Source Sans 3';
    font-size: 25px;
    color: black
}

.legend-labels {
    font-family: 'Source Sans 3';
}

.description {
    font-family: 'Source Sans 3';
    font-size: 18px; 
    color: gray;
    margin-left: 100px;
    margin-right: 80px;
    text-align: center;
    display: none
}

.description-selected {
    font-family: 'Source Sans 3';
    font-size: 18px; 
    color: gray;
    margin-left: 100px;
    margin-right: 80px;
    text-align: center;
    display: block
}

.same-conf-labels {
    font-family: 'Source Sans 3';
    font-size: 20px;
}

.y-grid, .x-grid{
  stroke: #e5e5e5;
  stroke-opacity: 0.1;
}


.text p strong {
    font-family: "Source Sans 3";
    font-size: 18px
}

h4 {
    padding-top: 10px;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: #18752e;
}

.landmark {
    font-family: "Source Sans 3";
    font-size: 13px;
}

.legendTime {
    font-family: "Source Sans 3";
    font-size: 15px;
}

.section-title {
    color: #0c5a26;
    max-width: max-content;
    font-style: italic;

}

#navbar {
    margin-left: -20%;
    margin-right: -20%;
    padding: 16px 10%; 
    padding-top: 30px;
    background: #0d371b;
    border-bottom: 1px solid #ccc;
    display: flex;
    gap: 40px;
    justify-content: center;
    z-index: 100;
    height: 110px
}

.nav-name {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: -550px;
    margin-top: -10px;
    opacity: 0.9;
}

.nav-text {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 30px;
    margin-left: -590px;
    opacity: 0.8;
}

#footbar {
    margin-left: -20%;
    margin-right: -20%;

    padding-top: 35px;
    background: #0d371b;
    border-bottom: 1px solid #ccc;
    display: flex;
    gap: 40px;
    justify-content: center;
    z-index: 100;
    height: 100px
}

.foot-name {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    opacity: 0.9;
}